/* Navbar */

.navbar {
  padding: 15px 10px;
  background: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px -1px;
}

.navbar-brand {
  font-size: 2em !important;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  font-weight: bolder;
  font-stretch: condensed;
}

.nav-link {
  color: #7d7d7d;
  font-size: 1.1em;
  letter-spacing: 3px;
  margin-left: 10px;
}

.nav-link:hover {
  color: #000000;
}
#list-hadith {
  text-align: center;
}

#detail-hadith {
  width: 100%;
  cursor: text;
  box-shadow: none;
}

#detail-hadith:hover {
  box-shadow: none;
}

#detail-hadith p {
  font-weight: 500;
}

#detail-hadith .text-arabic {
  font-size: 2em;
  line-height: 1.3em;
  text-align: right;
}

#button {
  display: inline-block;
  height: 50px;
  position: fixed;
  bottom: 30px;
  font-size: 1.3em;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  z-index: 1000;
}

.hidden {
  opacity: 0;
}

/* @media (prefers-reduced-motion: no-preference) {} */